@import "_includes/mixin";
@import "_includes/util";
@import "_includes/variable";


/**
 *  template
 */
h1 {
  color: $fontcolor;
  border: 1px solid $color-gray;
  padding: 10px;

  @include border-radius(10px);
}



