doctype html
html(lang="ja")
  head
    block meta
      include _includes/_meta
    block title
    block link
      include _includes/_link
    block script
      include _includes/_script

  body
    block body
